PODIO_USER = ''
PODIO_PASS = ''
PODIO_CLIENT_ID = ''
PODIO_CLIENT_SECRET = ''

# To find these IDs click the App, then click the wrench icon, scroll to
# Advanced, and click Developer.
PODIO_PROGRESS_APPLICATION = 6761871
PODIO_FEATURE_APPLICATION = 6867369
PODIO_COMPANY_GOALS = 6745352
PODIO_MARKETPLACE_GOALS = 6744105
PODIO_MARKETPLACE_TACTICS = 6745509

ENABLE_MEMCACHE = True
MEMCACHE_TIMEOUT = 1 * 60
