/* Heroes column */
.heroes {
    min-width: 150px;
    text-align: left;
}
.dev, .prod, .ux {
    display:block;
}
.dev, .prod, .ux {
    color: #666;
}


/* Other */
.flag {
    min-width: 100px;
}
.launch {
    font-size: .9em;
    font-weight: bold;
}
.minutes {
    float: right;
}
.tshirt {
    display: block;
    font-weight: bold;
}


#legend {
    text-align: right;
    padding: 5px 15px 5px 5px;
}

#legend span {
    padding: 5px 5px 5px 5px;
    font-size: 1.2em;
    border: 1px solid #aaa;
}

