tr.angle th {
    color: #55f;
    width: 50px;
    height: 80px;
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
}

/* Purely to work around rendering bugs with angled headers.  Without this the
 * <th> overlaps everything around it.  This class lets you opt-out of angling
 * if you have a particularly large column. (eg. the notes column) */
tr.angle th.optout {
    width: auto;
    height: auto;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
}


/* Heroes column */
.heroes {
    min-width: 150px;
    text-align: left;
}
.dev, .prod, .ux {
    display:block;
}
.dev {
    color: #ff7400;
}
.prod {
    color: #889640;
}
.ux {
    color: #a64b00;
}


/* Checkbox Values */
.na {
    color: #339;
    font-size: .9em;
}
.na:before {
    content: "n/a";
}
.no {
    color: #fcc;
    font-size: 1.5em;
    font-weight: bold;
}
.no:before {
    content: "-";
}
.yes {
    color: green;
    font-size: 1.5em;
    font-weight: bold;
}
.yes:before {
    content: "✔";
}
.yes span {
    font-size: .8em;
}


/* Row backgrounds */
.cancelled {
    background-color: #fee;
}
.donesies {
    background-color: #efe;
}
.paused {
    background-color: #eee;
}


/* Other */
.note {
    min-width: 300px;
    text-align: left;
}
.project {
    font-weight: bold;
    min-width: 200px;
    text-align: left;
}


#legend {
    text-align: right;
    padding: 5px 15px 5px 5px;
}

#legend span {
    padding: 5px 5px 5px 5px;
    font-size: 1.2em;
    border: 1px solid #aaa;
}

#lifecycle th div p {
    font-weight: normal;
}

#lifecycle th {
    background: url("cycle.svg") center 50px no-repeat;
    background-size: 200px;
}

#lifecyclehelp {
    color: #2a6496;
}

#lifecyclehelp:hover, #lifecyclehelp:focus {
    text-decoration: underline;
}
