tr.angle th {
    color: #55f;
}

/* Heroes column */
.heroes {
    min-width: 150px;
    text-align: left;
}
.dev, .prod, .ux {
    display:block;
}
.dev {
    color: #ff7400;
}
.prod {
    color: #889640;
}
.ux {
    color: #a64b00;
}


/* Checkbox Values */
.na {
    color: #339;
    font-size: .9em;
}
.no {
    color: #a55;
    font-size: 12px;
    font-weight: bold;
}
.percent {
    color: green;
    font-weight: bold;
}
.yes {
    color: green;
    font-size: 1.5em;
    font-weight: bold;
}
.yes span {
    font-size: .8em;
}


/* Row backgrounds */
.green {
    background-color: #efe;
}
.yellow {
    background-color: #ffd;
}
.red {
    background-color: #fee;
}
.paused {
    background-color: #eee;
}


/* Other */
.flag {
    min-width: 100px;
}
.note {
    min-width: 300px;
    text-align: left;
}
.launch {
    font-size: .9em;
    font-weight: bold;
}
.project {
    font-weight: bold;
    min-width: 200px;
    text-align: left;
}
.team {
    font-weight: normal;
    font-size: .8em;
}
.tshirt {
    display: block;
    font-weight: bold;
}


#legend {
    text-align: right;
    padding: 5px 15px 5px 5px;
}

#legend span {
    padding: 5px 5px 5px 5px;
    font-size: 1.2em;
    border: 1px solid #aaa;
}
