table {
    margin: 5px 5px 5px 5px;
    width: 99%;
}

td {
    padding: 2px 2px 2px 2px;
}

td.flag {
    white-space: nowrap;
}

td.end, th.end {
    border-right: 1px solid #ccc;
}

th {
  color: #55f;
}

th, tr {
    text-align: center;
}

tr {
    border: 1px solid #ccc;
}

tr:hover {
    /*border: 1px solid #000 !important;*/
}
tr:hover td {
    background-color: #eef !important;
}
tr:target td {
    background-color: #ffa !important;
}

tr.angle th {
    color: #55f;
}

.glyphicon {
    font-size: 13px;
    margin: 0px 2px 0px 2px;
}

.hideme {
    display:none;
    text-align:left;
}

/* Percentage Values */
.na {
    color: #339;
    font-size: .9em;
}
.no {
    color: #a55;
    font-size: 12px;
    font-weight: bold;
}
.percent {
    color: green;
    font-weight: bold;
}
.yes {
    color: green;
    font-size: 1.5em;
    font-weight: bold;
}
.yes span {
    font-size: .8em;
}

/* Other */
.note {
    min-width: 300px;
    text-align: left;
}
.project {
    font-weight: bold;
    min-width: 200px;
    text-align: left;
}
.team {
    font-weight: normal;
    font-size: .8em;
    color: #666;
}



#footer {
    border-top: 1px solid #ccc;
    text-align: center;
    padding: 10px 10px 10px 10px;
}
