table {
    margin: 5px 5px 5px 5px;
    width: 99%;
}

td {
    padding: 2px 2px 2px 2px;
}

td.flag {
    white-space: nowrap;
}

td.end, th.end {
    border-right: 1px solid #ccc;
}

th, tr {
    text-align: center;
}

tr {
    border: 1px solid #ccc;
}

tr:hover td {
    background-color: #ffe !important;
}

tr:target td {
    background-color: #ffa !important;
}

.glyphicon {
    font-size: 13px;
    margin: 0px 2px 0px 2px;
}

.hideme {
    display:none;
    text-align:left;
}

#footer {
    border-top: 1px solid #ccc;
    text-align: center;
    padding: 10px 10px 10px 10px;
}
