{% extends "layout.html" %}

{%- macro status(val) -%}
  {%- if val == "donesies" -%}
    donesies
  {%- elif val == "paused" -%}
    paused
  {%- elif val == "cancelled" -%}
    cancelled
  {%- endif -%}
{%- endmacro -%}

{% block body %}
  <div>
  <table id="output">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th title="What value are we adding? Do we have interest? Do we have budget? Who is championing the idea?">Concept</th>
        <th title="What is the scope? Who are our partners? What does it look like?  What is the functionality? How do we measure success? User stories, mockups, and PRDs live here.">Design</th>
        <th title="How are we going to implement this? How will we scale? Do we need hardware or buy-in?">Dev&nbsp;Plan</th>
        <th title="Security Review">Sec&nbsp;Review</th>
        <th title="Privacy Review">Pvcy&nbsp;Review</th>
        <th title="Final signoff before implementation">Handoff</th>
        <th title="Have the bugs been filed?">Bugs&nbsp;Filed</th>
        <th title="Has the code been written?">Coding</th>
        <th title="Has QA signed off?">Test</th>
        <th title="">Launch</th>
        <th title="How do we feel about launching this feature? What went well? What can we improve?">Review</th>
        <th title="Are we achieving the goals we wanted to with the feature?  If not, should we remove it?">Perf&nbsp;Review</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for item in results %}
        <tr id="{{item['name']|safe|lower|replace(" ","_")}}" class="{{status(item['status'])}}">
          <td class="project">
            {%- if item['podio_link'] -%}
              <a class="glyphicon glyphicon-pencil" href="{{ item['podio_link'] }}#edit" target="_blank"></a>
            {%- endif -%}
            {{ item['name'] }}
          </td>
          <td class="heroes"><span class="dev">{{ item['developers'] }}</span><span class="prod">{{ item['product'] }}</span><span class="ux">{{ item['design'] }}</span></td>
          <td class="{{ item['b_concept'] }}">
          </td>
          <td class="{{ item['b_design'] }}">{% if item['prd'] %}<a class="glyphicon glyphicon-new-window" href="{{ item['prd'] }}" target="_blank"></a>{% endif %}</td>
          <td class="{{ item['b_devplan'] }}"></td>
          <td class="{{ item['b_secreview'] }}"></td>
          <td class="{{ item['b_pvcyreview'] }}"></td>
          <td class="{{ item['b_handoff'] }}"></td>
          <td class="{{ item['b_bugsfiled'] }}">
            {% if item['bug'] %}
              <a class="glyphicon glyphicon-new-window" href="{{ item['bug'] }}"></a>
            {% endif %}
          </td>
          <td class="{{ item['b_code'] }}">{% if item['dev_complete'] %}<span>{{ item['dev_complete'] }}%</span>{% endif %}</td>
          <td class="{{ item['b_test'] }}"></td>
          <td class="{{ item['b_launch'] }}"></td>
          <td class="{{ item['b_review'] }}"></td>
          <td class="{{ item['b_perfreview'] }}"></td>
          <td class="note">{{ item['notes']|safe }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div id="legend">
    <span class="active">Active</span>
    <span class="cancelled">Cancelled</span>
    <span class="paused">Paused</span>
    <span class="donesies">Finished</span>
  </div>
  </div>
{% endblock %}
