{% extends "layout.html" %}

{% block body %}

  {% for item in results %}

    <article{% if item['Status'] %} class="{{ item['Status']|lower }}"{% endif %}>
      <h2><span class="index">{{ loop.index }}</span>{{ item['Feature'] }}</h2>

      {% if item['Team'] or item['Phase'][3:] or item['Priority'] or item['T-shirt'] or item['Target Launch_end'] %}
        <section class="meta">
          <dl class="meta">
            {% if item['Team'] %}
              <di>
                <dt>Team</dt>
                <dd>
                  {% if item['Team'] is string %}
                    {{ item['Team'] }}
                  {% else %}
                    {% for t in item['Team'] %}
                      {{ t }},
                    {% endfor %}
                  {% endif %}
                </dd>
              </di>
            {% endif %}
            {% if item['Phase'][3:] %}
              <di>
                <dt>Phase</dt>
                <dd>{{ item['Phase'][3:] }}</dd>   
              </di>       
            {% endif %}
            {% if item['Priority'] %}
              <di>
                <dt>Priority</dt>
                <dd>{{ item['Priority'] }}</dd>
              </di>
            {% endif %}
            {% if item['T-shirt'] %}
              <di>
                <dt>Size</dt>
                <dd>{{ item['T-shirt'] }}</dd>
              </di>
            {% endif %}
            {% if item['Target Launch_end'] %}
              <di>
                <dt>Target Launch</dt>
                <dd>{{ item['Target Launch_end']|prettydate }}</dd>
              </di>
            {% endif %}
          </dl>
        </section>        
      {% endif %}

      {% if item['podio_link'] or item['Stories / PRD'] or item['Design Specs'] or item['Build Bugs'] or item['Test Plan'] or item['Meeting Minutes'] %}
        <section class="links">
          <h3>Links</h3>
          <ul class="links">
            {% if item['podio_link'] %}
              <li><a href="{{ item['podio_link'] }}" target="_blank">Podio</a></li>
            {% endif %}
            {% if item['Stories / PRD'] %}
              <li><a href="{{ item['Stories / PRD'] }}" target="_blank">Stories/PRD</a></li>
            {% endif %}
            {% if item['Design Specs'] %}
              <li><a href="{{ item['Design Specs'] }}" target="_blank">Design Specs</a></li>
            {% endif %}
            {% if item['Build Bugs'] %}
              <li><a href="{{ item['Build Bugs'] }}" target="_blank">Build Bugs</a></li>
            {% endif %}
            {% if item['Test Plan'] %}
              <li><a href="{{ item['Test Plan'] }}" target="_blank">Test Plan</a></li>
            {% endif %}
            {% if item['Meeting Minutes'] %}
              <li><a href="{{ item['Meeting Minutes'] }}" target="_blank">Meeting Minutes</a></li>
            {% endif %}
          </ul>
        </section>
      {% endif %}

      {% if item['team_project'] or item['team_product'] or item['team_design'] or item['team_developers'] %}
        <section class="heroes">
          <h3 title="Who is working on the project?  Developers, Product, and UX.">Heroes</h3>
          <dl>
            {% if item['team_project'] %}
              <di>
                <dt>Program</dt>
                <dd class="program">{{ item['team_project'] }}</dd>
              </di>
            {% endif %}
            {% if item['team_product'] %}
              <di>
                <dt>Product</dt>
                <dd class="product">{{ item['team_product'] }}</dd>
              </di>
            {% endif %}
            {% if item['team_design'] %}
              <di>
                <dt>UX/Design</dt>
                <dd class="uxd">{{ item['team_design'] }}</dd>
              </di>
            {% endif %}
            {% if item['team_developers'] %}
              <di>
                <dt>Development</dt>
                <dd class="engineering">{{ item['team_developers'] }}</dd>
              </di>
            {% endif %}
          </dl>
        </section>
      {% endif %}

      {% if item['Define'] or item['Design'] or item['Build'] or item['Test'] %}
        <section class="progress">
          <h3>Progress</h3>
          <dl>
            {% if item['Define'] %}
              <di>
                <dt>Define</dt>
                <dd class="define"><span style="width: {{ item['Define'] }}%">{{ item['Define'] }}%</span></dd>
              </di>
            {% endif %}
            {% if item['Design'] %}
              <di>
                <dt>Design</dt>
                <dd class="design"><span style="width: {{ item['Design'] }}%">{{ item['Design'] }}%</span></dd>
              </di>
            {% endif %}
            {% if item['Build'] %}
              <di>
                <dt>Code</dt>
                <dd class="code"><span style="width: {{ item['Build'] }}%">{{ item['Build'] }}%</span></dd>
              </di>
            {% endif %}
            {% if item['Test'] %}
              <di>
                <dt>Test</dt>
                <dd class="test"><span style="width: {{ item['Test'] }}%">{{ item['Test'] }}%</span></dd>
              </di>
            {% endif %}
          </dl>
        </section>
      {% endif %}

      {% if item['Next Step'] %}
        <section class="blockotext">
          <h3>Next Steps</h3>
          {{ item['Next Step']|safe }}
        </section>
      {% endif %}

    </article>
  {% endfor %}

{% endblock %}
