<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jugband</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <link href="/static/jugband.css" rel="stylesheet">
</head>
<body>
  {% block nav %}
    <div class="nav">
      <ul>
        <li><a href="?extrasauce=1">admin</a></li>
        <li><a href="https://podio.com/mozillacom/marketplace/apps/projects/items/new">new</a></li>
      </ul>
    </div>
  {% endblock nav %}
  {% block body %}
  {% endblock body %}
</body>
</html>
