<!DOCTYPE html>
<html lang="en">

<head>
  <title>Jugband</title>
  <link rel="stylesheet" href="/static/jugband.css">
  <link rel="stylesheet" href="//code.cdn.mozilla.net/fonts/fira.css">
  <link rel="icon" type="image/png" href="static/jug.png">
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  {% block css %}
  {% endblock css %}
</head>
<body>

  {% block nav %}
    <header>
      <h1>
        <a class="wordmark" href="https://marketplace.firefox.com">Firefox Marketplace</a>
        <a class="site-name" href="/">Jugband</a>
      </h1>
      <nav role="navigation">
        <ul>
          <li class="{% if request.path.startswith('/roadmap') %}active{% endif %}"><a href="/roadmap">Roadmap</a></li>
          <li class="{% if request.path.startswith('/ondeck') %}active{% endif %}"><a href="/ondeck">On Deck</a></li>
          <li class="{% if request.path == '/' %}active{% endif %}"><a href="/">Activity</a></li>
        </ul>
      </nav>
    </header>
  {% endblock nav %}
  
  <main>
    {% block body %}
    {% endblock body %}
  </main>

  {% block footer %}
  <footer>
    <p>Source on <a href="https://github.com/clouserw/jugband/">Github</a>.</p>
  </footer>
  {% endblock footer %}

  <script src="/static/jugband.js"></script>
  {% block js %}
  {% endblock js %}

</body>
</html>
