
{% extends "layout.html" %}

{% block body %}

  {% for item in results %}

    <article{% if item['Status'] %} class="{{ item['Status']|lower }}"{% endif %}>
      <h2><span class="index">{{ loop.index }}</span>{{ item['Feature'] }}</h2>

      {% if item['Team'] or item['Priority'] %}
        <section class="meta">
          <dl class="meta">
            {% if item['Team'] %}
              <di>
                <dt>Team</dt>
                <dd>
                  {% if item['Team'] is string %}
                    {{ item['Team'] }}
                  {% else %}
                    {% for t in item['Team'] %}
                      {{ t }},
                    {% endfor %}
                  {% endif %}
                </dd>
              </di>
            {% endif %}
            {% if item['Priority'] %}
              <di>
                <dt>Priority</dt>
                <dd>{{ item['Priority'] }}</dd>
              </di>
            {% endif %}
          </dl>
        </section>
      {% endif %}

      {% if item['podio_link'] or item['Stories / PRD'] or item['Concept Docs'] %}
        <section class="links">
          <h3>Links</h3>
          <ul class="links">
            {% if item['podio_link'] %}
              <li><a href="{{ item['podio_link'] }}" target="_blank">Podio</a></li>
            {% endif %}
            {% if item['Stories / PRD'] %}
              <li><a href="{{ item['Stories / PRD'] }}" target="_blank">Stories/PRD</a></li>
            {% endif %}
            {% if item['Concept Docs'] %}
              <li><a href="{{ item['Concept Docs'] }}" target="_blank">Concept Docs</a></li>
            {% endif %}

          </ul>
        </section>
      {% endif %}

      {% if item['Concept'] or item['Define'] %}
        <section class="progress">
          <h3>Progress</h3>
          <dl>
            {% if item['Concept'] %}
              <di>
                <dt>Concept</dt>
                <dd class="concept"><span style="width: {{ item['Concept'] }}%">{{ item['Concept'] }}%</span></dd>
              </di>
            {% endif %}
            {% if item['Define'] %}
              <di>
                <dt>Define</dt>
                <dd class="define"><span style="width: {{ item['Define'] }}%">{{ item['Define'] }}%</span></dd>
              </di>
            {% endif %}
          </dl>
        </section>
      {% endif %}

      {% if item['Next Step'] %}
        <section class="blockotext">
          <h3>Next Steps</h3>
          {{ item['Next Step']|safe }}
        </section>
      {% endif %}

    </article>
  {% endfor %}

{% endblock %}
