
{% extends "layout.html" %}

{% block body %}

  {% for item in results %}

    <article{% if item['Status'] %} class="{{ item['Status']|lower }}"{% endif %}>
      <h2><span class="index">{{ loop.index }}</span>{{ item['Feature'] }}</h2>

      {% if item['Team'] or item['Priority'] or item['Target Launch_end'] %}
        <section class="meta">
          <dl class="meta">
            {% if item['Team'] %}
              <di>
                <dt>Team</dt>
                <dd>
                  {% if item['Team'] is string %}
                    {{ item['Team'] }}
                  {% else %}
                    {% for t in item['Team'] %}
                      {{ t }},
                    {% endfor %}
                  {% endif %}
                </dd>
              </di>
            {% endif %}
            {% if item['Priority'] %}
              <di>
                <dt>Priority</dt>
                <dd>{{ item['Priority'] }}</dd>
              </di>
            {% endif %}
            {% if item['Target Launch_end'] %}
              <di>
                <dt>Target Launch</dt>
                <dd>{{ item['Target Launch_end']|prettydate }}</dd>
              </di>
            {% endif %}
          </dl>
        </section>        
      {% endif %}

      {% if item['podio_link'] or item['Design Brief'] %}
        <section class="links">
          <h3>Links</h3>
          <ul class="links">
            {% if item['podio_link'] %}
              <li><a href="{{ item['podio_link'] }}" target="_blank">Podio</a></li>
            {% endif %}
            {% if item['Design Brief'] %}
              <li><a href="{{ item['Design Brief'] }}" target="_blank">Design Brief</a></li>
            {% endif %}
          </ul>
        </section>
      {% endif %}

      {% if item['Short Description'] %}
        <section class="blockotext">
          <h3>Description</h3>
          {{ item['Short Description']|safe }}
        </section>
      {% endif %}

    </article>
  {% endfor %}

{% endblock %}
